<!DOCTYPE html>
<html>
	<head>
		<title>Deposit</title>
		<link rel="stylesheet" href="stylesheets/deposit.css" />
	</head>
	<body>
		<h1>Deposit Items</h1>
		<ul>
			{{#each items}}
			<li class="deposit item" data-assetid="{{this.assetid}}">{{this.name}} (${{this.price}}) <img src="https://steamcommunity-a.akamaihd.net/economy/image/{{this.icon_url}}" alt="Admin" class="rounded-circle" width="150"></li>
			{{/each}}


			<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://steamcommunity-a.akamaihd.net/economy/image/{{this.icon_url}}" alt="Item Image">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
		</ul>
	</body>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/main.js"></script>
</html>
