<!DOCTYPE html>
<html>
	<head>
		<title>Deposit</title>
<link rel="icon" href="https://i.imgur.com/mhPcV0c.png">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

		<link rel="stylesheet" href="stylesheets/deposit.css" />
	</head>
	<body>
<div class="container">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Steam Trades</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/withdraw">Buy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/deposit">Sell</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-left">
      <li class="nav-item">
    <a class="nav-link" href="/logout">Logout<span href="/logout" class="navbar-text"></span></a>
    </li></ul>
    </span>
  </div>
</nav>
</div>


    <br>
    <h4>Deposit Items</h2>
	<br>

    
	<div class="row" id="ads">
    <!-- Category Card -->
	{{#each items}}
    <div class="col-md-4 mb-5">
        <div class="deposit item" data-assetid="{{this.assetid}}">
        <div class="card rounded">
            <div class="card-image">
                <span class="card-notify-badge">{{this.name}}</span>
                <img class="img-fluid" src="https://steamcommunity-a.akamaihd.net/economy/image/{{this.icon_url}}"  alt="Alternate Text" />
            </div>
            <div class="card-image-overlay m-auto">
                <span class="card-detail-badge">Placeholder</span>
                <span class="card-detail-badge">(${{this.price}})</span>
                <span class="card-detail-badge">{{this.assetid}}</span>
            </div>
            <div class="card-body text-center">
                <a class="ad-btn" href="#">View</a>
              </div>
            </div>
        </div>
    </div>
	{{/each}}
   
</div>
</div>
		
	</body>

<footer class="footer text-center ">
        <p>Conor Brett - Final Year Project</p>
    </footer>
  



	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/main.js"></script>
</html>
