<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
        <link rel="icon" href="https://i.imgur.com/mhPcV0c.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="../stylesheets/profile.css" />
    </head>




<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<body>
    <div class="container">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Steam Trades</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/withdraw">Buy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/deposit">Sell</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-left">
      <li class="nav-item">
    <a class="nav-link" href="/logout">Logout<span href="/logout" class="navbar-text"></span></a>
    </li></ul>
    </span>
  </div>
</nav>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-3 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="{{user.avatarfull}}">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="https://steamcommunity.com/profiles/{{user.steamid}}">{{user.personaname}}</a>
                    </div>
                    <div class="desc">Placholder</div>
                    <div class="desc">Placholder</div>
                    <div class="desc">Placholder</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/+ahmshahnuralam">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>

        </div>

	</div>
</div>








<div class="container">
    <div class="main-body">
    
         
          <!-- /Breadcrumb -->
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{user.avatarfull}}" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{user.personaname}}</h4>
                      <p class="text-secondary mb-1">SteamID: {{user.steamid}}</p>
					  <a href="https://steamcommunity.com/profiles/{{user.steamid}}" class="btn btn-primary" role="button">Steam account</a>
                    </div>
                  </div>
                </div>
              </div>
             

        {{#if user}}
        <h1>Welcome, {{user.personaname}}!</h1>
        <table>
            <tr>
                <th>Property</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Username</td>
                <td>{{user.personaname}}</td>
            </tr>
            <tr>
                <td>SteamID</td>
                <td>{{user.steamid}}</td>
            </tr>
            <tr>
                <td>Avatar</td>
                <td><img src="{{user.avatar}}" /></td>
            </tr>
            <tr>
                <td>Real Name (if set)</td>
                <td>{{user.realname}}</td>
            </tr>
            <tr>
                <td>Location (if set)</td>
                <td>{{user.loccountrycode}}</td>
            </tr>
        </table>
        <br />
        <a href="/logout">Logout</a>
        {{else}}
        <a href="/auth/steam">Click here to login</a>
        {{/if}}
    </body>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/main.js"></script>
</html>