<!DOCTYPE html>
<html>
	<head>
		<title>Steam Trades</title>
    <link rel="icon" href="https://i.imgur.com/mhPcV0c.png">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="stylesheets/profile.css" />

</head>

<body class="profile-page">

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Steam Trades</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/withdraw">Buy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/deposit">Sell</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-left">
      <li class="nav-item">
    <a class="nav-link" href="/logout">Logout<span href="/logout" class="navbar-text"></span></a>
    </li></ul>
    </span>
  </div>
</nav>
</div>
    
    <div class="page-header header-filter" data-parallax="true" ></div>
    <div class="main main-raised">
		<div class="profile-content">
            <div class="container">
                <div class="row">
	                <div class="col-md-6 ml-auto mr-auto">
        	           <div class="profile">
	                        <div class="avatar">
	                            <img src={{user.avatarfull}} alt="Circle Image" class="img-raised rounded-circle img-fluid">
	                        </div>
	                        <div class="name">
	                            <h3 class="title">{{user.personaname}}</h3>
								<h6>Real Name: {{user.realname}}</h6><h6>Status: Online</h6> <h6>SteamID: {{user.steamid}}</h6> <h6>Credit Balance: ${{user.credits}}</h6>
								
                                <a class="btn btn-primary" href="https://steamcommunity.com/profiles/{{user.steamid}}" role="button">Steam Account</a>
                                
                                


	                        </div>
	                    </div>
    	            </div>
                </div>
                <div class="description text-center">
                    <p></p>
                    <br>
                </div>
			
       

        
            </div>
        </div>
	</div>
	
	<footer class="footer text-center ">
        <p>Conor Brett - Final Year Project</p>
    </footer>
  
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>


   

</body>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/main.js"></script>
</html>